<html>
    <head>
    </head>
 <body>

 <div>
        <table align="center">
           <tbody>
              <tr>
                 <td>
                    <table cellspacing="0" cellpadding="0" width="597" style="border-width:1px;border-style:solid;border-collapse:separate;border-radius:10px;overflow:hidden;font-family:Arial,Helvetica,sans-serif;border-color:#ba9f7a" align="center">
                       <tbody>
                          <tr>
                             <td align="center" class="m_519213223348347163ui-droppable">
                                <img border="0" src="https://preview.ibb.co/dkBvr5/vleemailer.png" width="595" height="224" style="display:block" class="m_519213223348347163header_img CToWUd a6T" tabindex="0"/>
                                <div class="a6S" dir="ltr" style="opacity: 0.01; left: 632px; top: 194px;">
                                   <div id=":yb" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0" aria-label="Download attachment " data-tooltip-class="a1V" data-tooltip="Download">
                                      <div class="aSK J-J5-Ji aYr"></div>
                                   </div>
                                </div>
                             </td>
                          </tr>
                          <tr>
                             <td valign="top" style="background-color:#ffffff;color:#333333" class="m_519213223348347163ui-sortable m_519213223348347163drop">
                                <table width="100%" cellspacing="0" cellpadding="0" style="border:none;clear:both;width:100%;border-top-color:#ffffff;border-bottom-color:#ffffff;border-top-style:solid;border-bottom-style:solid;border-left-color:#ffffff;border-left-style:solid;border-left-width:20px;border-right-color:#ffffff;border-right-style:solid;border-right-width:20px;border-top-width:20px;border-bottom-width:7px" class="m_519213223348347163container-div">
                                   <tbody>
                                      <tr>
                                         <td align="center" class="m_519213223348347163handler_div">
                                            <div></div>
                                            <div style="padding:0 15px;text-align:left;line-height:1.7;padding-bottom:0px;padding-left:0px;padding-right:0px;padding-top:0px;border:2px solid transparent;font-family:Arial,Helvetica,sans-serif;color:#333333;font-size:14px">
                                               <div class="m_519213223348347163hello">
                                                  Hello,
                                                  <div>
                                                     <div>
                                                        <div><br></div>
                                                        <div class="m_519213223348347163greetings">
                                                           <span class="im">Congratulations! You have successfully registered with VLE App.<br></span>Please use the below OTP to login to App. You may quote this Email ID for all future communication with us.<span class="im"><br>Your Username / Email &amp; Temporary Password to login to the application are:<br>Email: <%= emailId %></span>
                                                           <h3>Temporary Password:  <%= temp %> </h3>
                                                        </div>
                                                     </div>
                                                     <div><br></div>
                                                     <div class="m_519213223348347163thankyou">Thank You, <br> Team VLE</div>
                                                  </div>
                                               </div>
                                            </div>
                                         </td>
                                      </tr>
                                   </tbody>
                                </table>
                             </td>
                          </tr>
                          <tr>
                             <td valign="middle" style="font-size:11px;line-height:125%;font-family:helvetica;background-color:#f4f4f4;color:#777777" align="left">
                                <div style="padding:15px 15px 15px 15px;float:left">
                                   <span class="m_519213223348347163company_name"><b>© Blaze Automation Inc</b></span><br>
                                   <div style="float:left;width:100%;margin-left:0px"><span class="m_519213223348347163address">2050 Brunswick Plaza-<a href="https://maps.google.com/?q=1,State+Highway+27,+Suite+%23201+%7C+North+Brunswick,+New+Jersey-08902&amp;entry=gmail&amp;source=g">1,State Highway 27, Suite #201</a></span><span class="m_519213223348347163city"> <a href="https://maps.google.com/?q=1,State+Highway+27,+Suite+%23201+%7C+North+Brunswick,+New+Jersey-08902&amp;entry=gmail&amp;source=g">| North Brunswick</a></span><span class="m_519213223348347163state"><a href="https://maps.google.com/?q=1,State+Highway+27,+Suite+%23201+%7C+North+Brunswick,+New+Jersey-08902&amp;entry=gmail&amp;source=g">, New Jersey-</a></span><span class="m_519213223348347163zip"><a href="https://maps.google.com/?q=1,State+Highway+27,+Suite+%23201+%7C+North+Brunswick,+New+Jersey-08902&amp;entry=gmail&amp;source=g">08902</a>.</span><span class="m_519213223348347163country"></span></div>
                                </div>
                             </td>
                          </tr>
                       </tbody>
                    </table>
                 </td>
              </tr>
           </tbody>
        </table>
     </div>
    </body>
    </html>